flume-ng-avro-router-sink/.classpath
flume-ng-avro-router-sink/.project
flume-ng-avro-router-sink/.settings/
flume-ng-mail-router-sink/.classpath
flume-ng-mail-router-sink/.project
flume-ng-mail-router-sink/.settings/
